/*farm roles filter toolbar*/
.scalr-ui-selroles-filter{
    z-index:3;
	background-color:#DFE4EA;
	background:-webkit-gradient(linear, center bottom, center top, color-stop(0,rgba(223,228,234,0)), color-stop(14%,rgba(223,228,234,1)));
	background:-moz-linear-gradient(center bottom, rgba(223,228,234,0), rgba(223,228,234,1) 14%);
	background:linear-gradient(center bottom, rgba(223,228,234,0), rgba(223,228,234,1) 14%);
}

/*boxes dataview selroles*/
.scalr-ui-dataview-selroles{
    background: #DFE4EA;
}

.scalr-ui-dataview-selroles .x-item{
    margin-bottom:12px;
}

.scalr-ui-dataview-selroles .x-item:last-child{
	margin-bottom:154px;
}

.scalr-ui-dataview-selroles .x-item-inner{
    padding: 5px 3px 3px;
    position:relative;
    z-index:2;
}

.scalr-ui-dataview-selroles .x-item .name{
    white-space:nowrap;
    margin:0 auto 2px;
}

.scalr-ui-dataview-selroles .platform, 
.scalr-ui-dataview-selroles .location{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    font-size:90%;
}

.scalr-ui-dataview-selroles .x-item-selected .platform, 
.scalr-ui-dataview-selroles .x-item-selected .location{
	color:#fff;
}

.scalr-ui-dataview-selroles .platform{
	text-transform:uppercase;
    line-height:14px;
}

.scalr-ui-dataview-selroles .location{
    font-style:italic;
    color:#777;
}

/*launch index*/
.scalr-ui-dataview-selroles .launchindex{
	display:none;
	position:absolute;
    z-index: 1;
	bottom:-11px;
	left:-10px;
	font-weight:bold;
	width:27px;
    height:28px;
    line-height:27px;
    text-align:center;
    background: url('/ui2/images/ui/farms/selroles/role_number_sprite.png') 0 0 no-repeat;
}

.scalr-ui-dataview-selroles .x-item-over .launchindex{
    background-position:0 -28px;
}

.scalr-ui-dataview-selroles .x-item-selected .launchindex{
    background-position:0 -56px;
}


.scalr-ui-dataview-selroles-sortable .launchindex{
	display:block;
}

/*delete role button*/
.scalr-ui-dataview-selroles .delete-role-bg,
.scalr-ui-dataview-selroles .delete-role{
	position: absolute;
    z-index: 1;
	right: -10px;
	top: -9px;
	width: 27px;
	height: 26px;
    cursor:pointer;
    background: url('/ui2/images/ui/farms/selroles/close_bg.png?1.1') 0 0 no-repeat;
    visibility:hidden;
}

.scalr-ui-dataview-selroles .delete-role{
    background: url('/ui2/images/ui/farms/selroles/close_small_sprite.png?1.1') 0 0 no-repeat;
    z-index: 2;
}

.scalr-ui-dataview-selroles .x-item-over .delete-role-bg,
.scalr-ui-dataview-selroles .x-item-over .delete-role{
	visibility:visible;
}


.scalr-ui-dataview-selroles .delete-role:hover{
    background-position: 0 -26px;
}

.scalr-ui-dataview-selroles .x-item-selected .delete-role-bg{
	background-position: 0 -26px;
}

.scalr-ui-dataview-selroles .x-item-selected .delete-role{
	background-position: -27px 0;
}

.scalr-ui-dataview-selroles .x-item-selected .delete-role:hover{
    background-position: -27px -26px;
}

/*add role flying button*/
.scalr-ui-dataview-selroles-add{
	width: 110px;
	height: 150px;
	text-align: center;
	font: bold 13px/20px arial;
	color: #4A5E82;
	text-shadow: 0 1px #E9ECF0;
	cursor:pointer;
	position:absolute;
	padding-left:10px;
	bottom:0px;
	background-color:#DFE4EA;
	background:-webkit-gradient(linear, center top, center bottom, color-stop(0,rgba(223,228,234,0)), color-stop(2%,rgba(223,228,234,1)));
	background:-moz-linear-gradient(center top, rgba(223,228,234,0), rgba(223,228,234,1) 2%);
	background:linear-gradient(center top, rgba(223,228,234,0), rgba(223,228,234,1) 2%);
    z-index:3;
}

.scalr-ui-dataview-selroles-add .x-item-inner{
	height:100px;
	margin:6px 0 10px;
	border-radius: 4px;
	border: 2px dashed #A9BCD8;
}

.scalr-ui-dataview-selroles-add span{
	display:block;
	margin-top:23px;
}

.scalr-ui-dataview-selroles-add .x-item-inner:hover{
	background: #CED8E2;
}

/*farm settings button*/
.scalr-ui-farm-settings-btn{
	border-radius:0;
	padding: 3px 0;
    position:relative;
    z-index:4;
}

.scalr-ui-farm-settings-btn .x-btn-inner{
	font: bold 12px arial;
	color: #333333;
	text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.scalr-ui-farm-settings-btn.x-btn-pressed .x-btn-inner{
	color:#fff;
}

.scalr-ui-farm-settings-btn .x-btn-icon{
	width:17px;
	height:18px;
	left:0;
	top:5px;
	background: url('/ui2/images/ui/farms/gear_sprite.png') 0 0 no-repeat;
}

.scalr-ui-farm-settings-btn.x-btn-pressed .x-btn-icon{
	background-position: 0 -19px;
}

/*color corner*/
.x-item-color-corner-role{
    width:15px;
    height:15px;
    box-shadow:none;
    opacity:.8;
    visibility:hidden;
}

.scalr-ui-show-color-corners .x-item-color-corner-role{
    visibility:visible;
}